
.first-container{
    
    
}
.img-style{
    padding-top : 100px;
}
.link-style{
    text-decoration: none;
    background-color: slategray;
    padding: 20px;
    color: snow;
    border-radius: 20px;
}
