
/* profile skillsbar styles  */
.skills{
    margin-top: 15px;
}
.skills_container{
    width: 100%;
    margin: 0 auto;
}
@keyframes load{
    from {
      width: 0%
    }
}
@-webkit-keyframes load{
    from {
      width: 0%
    }
}
@-moz-keyframes load{
    from {
      width: 0%
    }
}
@-o-keyframes load{
    from {
      width: 0%
    }
}

.bar{
    position: relative;
    background-color: rgb(8, 8, 8);
    padding: 0px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 4px;
    color: #2dd4bf;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    height: 7px;
}
.bar::before{
    position: absolute;
    /* content:  attr(data-skill); */
    content:  '';
    height: 7px;
    top: 0;
    display: inline-block;
    background-color: #810a96;
    display: inline-block;
    padding: 0px 0 2px 10px;
    border-radius: inherit;
    animation: load 4s 0s;
    -webkit-animation: load 4s 0s;
    -moz-animation: load 4s 0s;
    -o-animation: load 4s 0s;
}

.bar.front::before{
    background-color: #2dd4bf;
    font-size: 9px;
}
.bar.back::before{
    background-color: #239cd8;
}

.bar.learning::before{
    width: calc(20% - 10px);
}
.bar.basic::before{
    width: calc(40% - 10px);
}
.bar.intermediate::before{
    width: calc(70% - 10px);
}
.bar.advanced::before{
    width: calc(80% - 10px);
}
.bar.expert::before{
    width: calc(90% - 10px);
}


/* knowledkes styles  */
.knowledge{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--gray);
}

/* profile bottom styles  */
.social_Info{
    /* position: absolute; */
    width: 100%;
    bottom: 50px;

    padding: 0.8rem 1rem;
    background: var(--layout-side-light-bg);
}
.cv_btn{
    background-color: rgb(83, 97, 102);
    border: none;
    display: flex;
    gap: 8px;
    padding: 2px 8px;
    margin: auto;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    /* color: rgb(175, 174, 174); */
    color: aqua;
    transition: all 0.3s ease-in-out;
}
.cv_btn:hover{
    background-color: rgb(63, 69, 71);
    color: rgb(238, 238, 238);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}
.social_links{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.social_link{
    border: none;
    font-size: 12px;
    font-weight: 700;
    margin: auto 2px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
.social_link:hover{
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}
